<!DOCTYPE html>
%head
  %title Mapofspots
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
- if user_signed_in?
  %div
    = current_user.username

%body
  = yield
